
html, body {
  background-color: #F0F7E5;
}

.well {
  background-color: #D9EBBE;
}

.error {
	color: Red;
}

th {
    background-color:  #CDE4AB;    
} 

tr {
    background-color:  #E4F0D2;    
} 


